extends /layout-documentation

block title
  title Tikui

block content
  .tikui-vertical-spacing.-s32
    .tikui-vertical-spacing--line
      h1.tikui-title-main Tikui
    .tikui-vertical-spacing--line
      include:componentDoc component/component.md
