extends /layout-documentation

block title

block content
  h1 Example body

  include:componentDoc component/component.md
  include:componentDoc only-md-component/only-md-component.md
  include:templateDoc template/template.md
  include:templateDoc only-md-template/only-md-template.md
